{{ if .Site.Data.agile.enable }}
{{ "<!-- Client Section Start -->" | safeHTML }}
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center">
                {{ with .Site.Data.agile.image }}<img class="img-fluid shadow rounded" src="{{ . | absURL }}" alt="service-image"/>{{ end }}
            </div>
            <div class="col-md-6 align-self-center">
                {{ with .Site.Data.agile.title }}<h2>{{.}}</h2>{{ end }}
                {{ with .Site.Data.agile.description }}<p>{{.}}</p>{{ end }}
                {{ with .Site.Data.agile.training }}<p>{{.}}</p>{{ end }}
                <div class="row">
                    <div class="col-md-8">
                        <ul class="color-gray client-service-list">
                            {{ range .Site.Data.agile.servicelist }}
                            <li>
                                <i class="tf-ion-android-checkbox-outline"></i> {{ .name }}
                            </li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{{ "<!-- Client Section End -->" | safeHTML }}
{{ end }}
