{{ if .Site.Data.careers.enable }}
{{ "<!-- Career Section Start -->" | safeHTML }}
<section class="service-list careers-list section bg-gray"> <!--This "class" formats the list element and margins... it stems from the "service" template-->
    <div class="container"> <!--This creates the full area that spans the viewscreen-->
        {{ range .Site.Data.careers.item }}
        <div class="row mt-50 justify-content-center">
            <div class="col-md-5 col-md-5 col-sm-12 offset-md-1">
                <div class="content">
                    <h2>{{ .title }}</h2>
                    <p>
                        {{ .description }}
                    </p>
                </div>
            </div>
            <div class="col-12 col-md-5 col-sm-12 text-center"> <!--same shtuff as above-->
                <div class="block"> <!--makes it that blue color-->
                    {{ with .icon }}<i class="{{.}}"></i>{{ end }}
                    {{ with .sideTitle }}<h3>{{.}}</h3>{{ end }} <!--the {{.}} means to grab the value for this at the top of what will be iterated (which in this case is the list)-->
                    <ul>
                        {{ range .list }}
                            <li><a  href="{{.linkToImage}}">{{.name}}</a></li> <!--creates the hyperlink-->
                        {{ end }}
                    </ul>
                </div>
            </div>
            
        </div>
        <div class="row mt-50 justify-content-center">
            <div class="col-12 col-md-5 col-sm-12 offset-md-1 text-center">
                <img class="img-fluid rounded shadow" src="{{ .image }}" />
            </div>
            <div class="col-12 col-md-5 col-sm-12 contact-form">
                <form> 
                    <div class="form-group">
                        <input type="text" placeholder="Your Name" class="form-control" name="name" id="name">
                    </div>
        
                    <div class="form-group">
                        <input type="email" placeholder="Your Email" class="form-control" name="email" id="email">
                    </div>
        
                    <div class="form-group">
                        <textarea rows="6" placeholder="Message" class="form-control" name="message" id="message"></textarea>
                    </div>
                    
                    <div class="form-group">
                        <input type="file" class="form-control-file" id="resumeUpload" accept=".doc,.docx,.pdf,application/msword">
                        <label for="resumeUpload">Upload a resume... </label>
                        <div class="resume-name"> Accepts (.pdf, .docx, .doc) </div>
                    </div>

                    <div id="cf-submit">
                        <input type="submit" id="careers-submit" class="btn btn-transparent" value="Submit">
                    </div>
                </form>
            </div>
        </div>
        {{ end }}
    </div>
</section>
{{"<!-- Career section End -->" | safeHTML}}
{{ end }}
