{{ if .Site.Data.about.enable }}
{{ "<!-- About Section Start -->" | safeHTML }}
<!-- image fixes -->
<style>
 @media only screen and (min-width: 767px) {
				.center-image-hv {
					position: absolute;
					margin-top: auto;
					margin-bottom: auto;
					top: 0;
					bottom: 0;
					left: 50%;
					transform: translateX(-50%);
					max-width: 90%;
				}
				.container .row {
					padding-top: 50px !important;
				}
				.container .row:not(:last-of-type){
					padding-bottom: 25px;
				}
}
.container .row {
	padding-top: 25px;
}
a.register {
	border: none;
	padding: 15px 50px;
	margin: 0;
	background: #4ba6dd;
	color: #fff;
	border-radius: 0;
	cursor: pointer;
}
ul {
  margin: 0;
}
ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: 5px;
  padding-left: 5px;
  margin: 10px 0;
}
ul.dashed > li:before {
  content: "-";
  margin-right: 5px;
  text-indent: 5px;
}
</style>
<section class="cspo section-sm" id="about-cspo">
    <div class="container">
        {{ range .Site.Data.csm.item }}
            {{ if .positionRight }}
                <div class="row justify-content-center row-eq-height">
                    <div class="col-md-5 col-md-5 offset-md-1 col-sm-12">
                        <div class="content">
                            <h2>{{ .title }}</h2>
                            <p>
                                {{ .description }}
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 col-sm-12 text-center">
                        <img src="/{{ .image }}" class="img-fluid rounded center-image-hv" alt="about-image">
                    </div>
                </div>
            {{ else }}
                <div class="row mb-50 justify-content-center">
                    <div class="col-md-5 col-sm-12 text-center">
                        <img src="/{{ .image }}" class="img-fluid rounded center-image-hv" alt="about-image">
                    </div>
                    <div class="col-md-5 col-sm-12">
                        <div class="content">
                            <h2>{{ .title }}</h2>
                            <p>
                                {{ .description }}
                            </p>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{ end }}
		<div class="row  justify-content-center row-eq-height">
			<div class="col-12 col-md-5 col-sm-12 d-none d-md-block text-center offset-md-1">
				<img src="/images/blog/golocal.jpg" class="img-fluid center-image-hv rounded shadow" alt="about-image">
			</div>
			<div class="col-md-5 col-md-5 col-sm-12 ">
				<div class="content">
					<h2>Important Info</h2>
					<h6>Dates</h6>
					<p>April 16-17, 2020</p>
					<h6>Location</h6>
					<p>VILT (Virtual Instructor-led Training)</p>
					<h6>Cost</h6>
					<p>$999.00</p>
					<p>NOTE: The possibility of state grant funding is available to participants. However, participant's employers must pay for the training on behalf of the participants in order to qualify. For partial course fee reimbursement options, please contact West Michigan Works! at: business@westmiworks.org</p>
				</div>
			</div>
		</div>
		<div class="row  justify-content-center row-eq-height">
			<div class="col-md-5 col-md-5 col-sm-12 offset-md-1">
				<div class="content">
					<h2>Included In Course</h2>
					<ul class="dashed">
						<li>Attendee workbook</li>
						<li>Two-year membership with Scrum Alliance</li>
						<li>Course certificate of completion</li>
						<li>14-16 PDUS, and correspondingly 14-16 SEUs (Varies according to the CST)</li>
					</ul>
					<p>NOTE: Attendees must attend both days of the course in order to qualify for the certification.</p>
				</div>
			</div>
			<div class="col-12 col-md-5 col-sm-12  text-center">
				<img src="/images/blog/responsive.jpg" class="img-fluid d-none d-md-block center-image-hv rounded shadow" alt="about-image">
			</div>
		</div>
		<div class="row  justify-content-center row-eq-height">
			<div class="col-md-5 col-sm-12 offset-md-1 text-center">
				<img src="/images/blog/agile.jpg" class="img-fluid center-image-hv d-none d-md-block rounded shadow" alt="about-image">
			</div>
			<div class="col-md-5 col-sm-12 ">
				<div class="content">
					<h2>Certification</h2>
					<ul class="dashed">
						<li>A Certified Scrum Master (CSPM) certification</li>
						<li>A CSPM digital badge to promote their accomplishment online</li>
					<ul>
					<p>NOTE: The Certified Scrum Trainer determines your completion of the course and has the discretion in awarding certificates based on your engagement in the classroom.  Finally, certificates expire two years from the date the certification is earned. Scrum Alliance certification renewal guidelines and fees apply.</p>
				</div>
			</div>
		</div>
		<div class="row  justify-content-center row-eq-height">
			<div class="col-md-5 col-md-5 col-sm-12 offset-md-1">
				<div class="content">
					<h2>About the Instructor</h2>
					<p>Bonsy Yelsangi is a Certified Scrum Trainer and an Agile Coach. Bonsy has over 17 years of experience in IT with 12 years as an Agile/Scrum trainer and coach.  She has worked in industries including media, remote managed services, luxury real estate, aviation, automotive and private wealth management. Throughout her career, she has trained and coached a wide range of development teams, business departments, project managers and senior executives in Agile methodologies, serving as mentor, coach, facilitator, trainer, and change agent to guide companies through their Agile transformations. Bonsy is highly regarded in the Scrum community as a practitioner and trainer. She received her CST endorsement in front of the ScrumAlliance Trainer Approval Committee on her first attempt, which only 5% of CSTs have achieved. It is also worth noting that all of her CSM students have passed the CSM certification exam on the first attempt.</p>
				</div>
			</div>
			<div class="col-12 col-md-5 col-sm-12  text-center">
				<img src="/images/cspo/bonsy-head-shot.jpg" class="img-fluid d-none d-md-block center-image-hv rounded" alt="about-image">
			</div>
		</div>
		<div class="row  justify-content-center row-eq-height">
			<div class="col-sm-10 off-set-sm-1 text-center justify-center"> 
				<a class="register" target="_blank" href="https://www.eventbrite.com/e/86854394833">Register Now!</a>
			</div>
		</div>
  </div>
		
</section>

{{"<!-- About section End -->" | safeHTML}}
{{ end }}
