<!--Home Page -->
{{ partial "header.html" . }}

{{ partial "preloader.html" . }}

{{ partial "navigation.html" . }}

{{ partial "hero.html" . }}

{{ partial "about-sm.html" . }}

{{ partial "feature.html" . }}

{{ partial "clients.html" . }}

{{ partial "cta.html" . }}

<!--{{ partial "clientlogos.html" . }}-->

<!--{{ partial "about.html" . }}-->

{{ partial "workingprocess.html" . }}

<!--{{ partial "portfolio.html" . }}--> <!--Turn this back on if you want portfolio on home page-->

<!--{{ partial "team.html" . }}--> <!--Turn this back on if you want team photos on home page-->

{{ partial "pricing.html" . }}

{{ partial "testimonial.html" . }}

<!--{{ partial "blog.html" . }}--> <!--Turn this back on if you want blog posts on home page-->

<!--{{ partial "contact.html" . }}--> <!--Turn this back on if you want the contact box on the home page -->

{{ partial "footer.html" . }}
